<div class="house-list">
  <h2>House Committees</h2>
  {{#each model.house as |committee|}}
    <li>{{committee.name}} ({{committee.chamber}})</li>
  {{/each}}
</div>

<div class="senate-list">
  <h2>Senate Committees</h2>
  {{#each model.senate as |committee|}}
    <li>{{committee.name}} ({{committee.chamber}})</li>
  {{/each}}
</div>
